.all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
}

.productDetail {
    margin-top: 3rem;
}

.nav {
    margin-right: 80rem;
    margin-left: 10rem;
    gap: 1rem;
}

.circle {
    margin-top: 0.4rem;
    font-size: 0.5rem;
    color: rgb(64, 64, 212);
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10rem;
}

.left {
    border-style: groove;
    padding: 0rem 5rem 0rem 5rem;
}

.detailImg {
    width: 40rem;
    height: 40rem;
    object-fit: contain;
}

.right {
    width: 40rem;
    margin-top: 5rem;

}

.middle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}


.setQuantity {
    display: flex;
    flex-direction: row;
}

.quantity {
    width: 2rem;
    text-align: center;
}

.bottom {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.relatedProducts {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.relatedProduct {
    border-style: groove;
    padding: 0rem 5rem 0rem 5rem;
}

.productImg {
    width: 15rem;
    height: 15rem;
    object-fit: contain;
}

.priceText {
    color: gray;
    font-size: 1.5rem;
}