.home {
    margin-top: 3rem;
}

.homeLabel {
    cursor: pointer;
}

.homeLabel:hover {
    color: rgb(59, 59, 143);
}

.browserInput {
    display: flex;
    justify-content: center;
}

.productList {
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
    list-style: none;
    margin: 3rem;
    justify-content: center;
    padding: 0;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: groove;
    padding: 1rem;
    width: 30rem;
    margin: 1rem;
    cursor: pointer;
}

.nav {
    display: flex;
    flex-direction: row;
    margin-right: 80rem;
    gap: 1rem;
    margin-top: 3rem;
}

.productDetail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
}

.categories {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.relatedProducts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.relatedProduct {
    list-style: none;
}

.productImages {
    width: 20rem;
    height: 20rem;
    object-fit: contain;
}

.purchases {
    margin-left: 6rem;
    margin-right: 6rem;
    margin-bottom: 3rem;
}

.productPurchased {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.productPurchased:hover {
    color: rgb(59, 59, 143);
}

li {
    list-style: none;
}

.titleCart {
    display: flex;
    gap: 10rem;
    justify-content: center;
    text-align: center;
}

.mb-3 {
    display: flex;
    flex-direction: row;
    width: 20rem;
}

footer {
    display: flex;
    justify-content: center;
    margin: 4rem;
}